<%= form_for(@prize) do |f| %>
  <% if @prize.errors.any? %>    
    	<div class="alert alert-danger">
	      <ul>
	      <% @prize.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
        </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :existences %><br>
    <%= f.number_field :existences %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
